<h1>Streamers#Profile</h1>
<p>Find me in app/views/streamers/index.html.erb</p>

<div class="streamer profile container">
  <div class="user container">
    <h3>Username:</h3>
    <div id="user">@streamer.username</div>
  </div>
  <div class="twitch profile">
    <h3>Twitch username:</h3>
    <div id="twitch">@streamer.twitch</div>
  </div>
  <div class="youtube profile">
    <h3>Youtube username:</h3>
    <div id="twitch">@streamer.youtube</div>
  </div>
</div>
